:root {
    --primary-color: #ffffff;
    --hover-navbar-color: #27395E;
    --hover-table-row-color: #EEEEEE;
    --box-shadow-color: #BDBDBD;
    --font-size-primary: 14px;
    --line-height-primary: 17px;
    --font-size-title: 16px;
    --line-height-heading: 26px;
    --line-height-title: 20px;
    --height-header: 56px;
    --width-navbar: 200px;
    --navbar-background-color: #041434;
    --background-hover-color: #1E3155;
    --background-form-detail-color: #4242427a;
    --background-content-color: #F4F5F7;
    --border-input-color: #e6e6e6;
    --background-header-table: #edeef1;
    --border-focus-color: #50B83C; 
}